<!DOCTYPE html>
<html lang="en">
<head>
    <style>
 .navbar{
            background-color: rgb(43, 41, 41);

        }

.x{
  text-decoration: none;
  color:red;
}
.x:hover{
  color:red;}
.c{
  text-decoration: none;
  color:white;
}
.c:hover{
    color: red;
}
.fa-brands{
  color: red;
}
.p{
    text-decoration: none;
    color:white;
}
.p:hover{
  color:red;
}
#h{
  padding-left: 80px;
}

#a{
    padding-top:30px;
    padding-bottom:80px;
    padding-left: 10px;
    padding-right: 10px;
}

    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/4f163060e5.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
</head>
<body  class="bg-light">
  <div><header>
    <nav class="navbar fixed-top navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand" href="http://127.0.0.1:8000/ecommerceapp/index/"><i style="color:red">Fashion</i> <i style="color:white">Hub</i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item " >
              <a class="nav-link text-light" href="http://127.0.0.1:8000/ecommerceapp/home/">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link text-light dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Login
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href=http://127.0.0.1:8000/ecommerceapp/shoplogin/">Shop Login</a></li>
                <li><a class="dropdown-item" href="http://127.0.0.1:8000/ecommerceapp/userlogin/">User Login</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link text-light dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Register
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="http://127.0.0.1:8000/ecommerceapp/shopregister/">Shop Register</a></li>
                <li><a class="dropdown-item" href="http://127.0.0.1:8000/ecommerceapp/userregister/">User Register</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="http://127.0.0.1:8000/ecommerceapp/about/">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="http://127.0.0.1:8000/ecommerceapp/contact/">Contact</a>
            </li>
          </ul>
          <form class="d-flex">
              <a  class="nav-link text-light" href="http://127.0.0.1:8000/ecommerceapp/cartdisplay/"><i class="fa-solid fa-cart-shopping fa-1x"></i></a>&nbsp;&nbsp;
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">&nbsp;&nbsp;
          <button class="btn text-light"><i class=" fa-sharp fa-solid fa-magnifying-glass"></i></button>

          </form>
        </div>
      </div>
    </nav>
      </header>
      <br><br><br>
   <div>
    <h2 align="center" class="pt-2">Fashion Hub E-commerce company</h2>
    <p id="a" align="justify">
       Fashion Hub is an Indian e-commerce company headquartered in London. It sells beauty, wellness and fashion products across websites, mobile apps and 100+ offline stores. In 2020, it became the first Indian unicorn startup headed by a woman.

Fashion Hub sells products which are manufactured in India as well as internationally. In 2015, the company expanded from online-only to an omnichannel model and began selling products apart from beauty. As of 2020, it retails over 2,000 brands and 200,000 products across its platforms.

In 2015, the company expanded from online-only to an omnichannel model and began selling fashion products.

. It is a premium membership program that provides users special access to professional beauty products and offers on the Fashion Hub app. In 2018, the company also launched an online beauty forum called Fshion Hub Network.

In March 2020, Fashion Hub raised ₹100 crore (US$13 million) from Steadview Capital at a valuation of US$1.2 billion, making it a unicorn startup. This was followed by another tranche of ₹67 crore (US$8.4 million) funding by Steadview in May 2020.

In October 2020, the company launched Fashion Man, India's first multi-brand ecommerce store for men's grooming. The company expanded into fashion by launching Fashion Hub Design Studio.

In November 2020, global asset management firm Fidelity invested in the company through a secondary sale of shares from an existing equity investor.

In December 2020, Nykaa Fashion launched its first store in Delhi, making the fashion business omnichannel.

Fashion Hub opened its initial public offering (IPO) on 28 October 2021. The IPO raised ₹5,352 crore (US$670 million) at a valuation of US$7.4 billion. Fashion Hub was publicly listed on the NSE and BSE on 10 November 2021, and its price rose by 89.2% on opening day, valuing the company at nearly US$13 billion.
    </p>
   </div>
      <div class="row"  style="background-color: rgb(43, 41, 41);color:white;" >

  <div class="col-lg-3 col-md-6 col-sm-12" id="h">
    <h2>Useful links</h2>
    <ul type="none">
      <li><a href="home.html"  class="p">Home</a></li>
      <li><a href="login.html"  class="p">Login</a></li>
      <li><a href="register.html"  class="p">Register</a></li>
      <li><a href="about.html"  class="p">About</a></li>
      <li><a href="contact.html"  class="p">Contact</a></li>
    </ul>
  </div>

  <div class="col-lg-3 col-md-6 col-sm-12">
    <h2>Address</h2>
    <p>London, UK<br>
      998 13h Street, Office 436<br>
      Harlo 61466<br>
      +(21) 255 999 8888<br>
      fashionhub@gmail.com</p>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12">
    <ul type="none">
      <h2>Information</h2>
      <li><a class="c" href="#">Terms and Conditions</a></li>
       <li><a class="c" href="#">Shipping Policy</a></li>
       <li><a class="c" href="#">Cancellation Policy</a></li>
       <li><a class="c" href="#">Privacy Policy</a></li>
     </ul>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12">
      <h2>Payment methods</h2>
      <br>
      <i class="fa-brands fa-cc-mastercard fa-2x"></i>&nbsp;&nbsp;&nbsp;
      <i class="fa-brands fa-cc-paypal fa-2x"></i>&nbsp;&nbsp; &nbsp;
      <i class="fa-brands fa-cc-visa fa-2x"></i>&nbsp;&nbsp;&nbsp;
      <i class="fa-brands fa-cc-discover fa-2x"></i><br><br>

  </div>

  <hr>
  <center><p class="pb-1 text-light"> © 2023 Fashionhub E-Retail Pvt. Ltd. All Rights Reserved.</p>
    <div class="container" >
    <i class="fa-brands fa-facebook fa-2x"></i>&nbsp;&nbsp;&nbsp;
    <i class="fa-brands fa-twitter fa-2x"></i>&nbsp;&nbsp; &nbsp;
    <i class="fa-brands fa-instagram fa-2x"></i>&nbsp;&nbsp;&nbsp;
    <i class="fa-brands fa-linkedin fa-2x"></i><br><br>
    </div>
    </center>
</div>

</body>
</html>