<!DOCTYPE html>
<html lang="en">
<head>
    <style>

      .navbar{
            background-color: rgb(43, 41, 41);

        }
    #b{
        height:550px;
      width:400px;
      padding:25px;
       margin:30px 550px;

        border: 2px;
        border-radius: 20px;
        }
        #z{
            text-decoration: none;
        }
 .c{
  text-decoration: none;
  color:white;

}
.c:hover{
    color: white;
}
#c{
    overflow: hidden;

}
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/4f163060e5.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fileupload</title>
</head>
<body  class="bg-light">
  <div><header>
    <nav class="navbar fixed-top navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand" href="http://127.0.0.1:8000/ecommerceapp/index/"><i style="color:red">Fashion</i> <i style="color:white">Hub</i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item " >
              <a class="nav-link text-light" href="http://127.0.0.1:8000/ecommerceapp/home/">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link text-light dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Login
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="http://127.0.0.1:8000/ecommerceapp/shoplogin/">Shop Login</a></li>
                <li><a class="dropdown-item" href="http://127.0.0.1:8000/ecommerceapp/userlogin/">User Login</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link text-light dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Register
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="http://127.0.0.1:8000/ecommerceapp/shopregister/">Shop Register</a></li>
                <li><a class="dropdown-item" href="http://127.0.0.1:8000/ecommerceapp/userregister/">User Register</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="http://127.0.0.1:8000/ecommerceapp/about/">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="http://127.0.0.1:8000/ecommerceapp/contact/">Contact</a>
            </li>
          </ul>
          <form class="d-flex">
              <a  class="nav-link text-light" href="http://127.0.0.1:8000/ecommerceapp/cartdisplay/"><i class="fa-solid fa-cart-shopping fa-1x"></i></a>&nbsp;&nbsp;
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">&nbsp;&nbsp;
          <button class="btn text-light"><i class=" fa-sharp fa-solid fa-magnifying-glass"></i></button>

          </form>
        </div>
      </div>
    </nav>
      </header>
      <br><br><br>
   <div  id="b" class="bg-white shadow">
    <div class="mb-3">
        <h3 align="center"><strong>
           Upload product
        </strong> </h3><br>
        <form method="post" enctype="multipart/form-data">{% csrf_token %}
        <label class="form-label text-secondary">Product name</label><br>
        <input type="text" class="form-control" name="productname">
      </div>
      <div class="mb-3">
        <label class="form-label text-secondary">Product price</label>
        <input type="number" class="form-control" name="productprice">
      </div>
 <div class="mb-3">
        <label class="form-label text-secondary">Description</label>
        <input type="text" class="form-control" name="description">
      </div>

      <div class="mb-3">

        <label class="form-label text-secondary">Product image</label>
        <input type="file" class="form-control" name="productimage">
      </div>

       <br><center>
      <div class="mb-3">
        <button type="submit" class="btn btn-primary" style="background-color:red;color:white">Upload</button></div>
    </center>
       </form>
    </div>
   <div class="row p-4"  style="background-color: rgb(43, 41, 41);color:white;" >

  <div class="col-lg-3 col-md-6 col-sm-12" id="h">
    <h2>Useful links</h2>
    <ul type="none">
      <li><a href="home.html"  class="c">Home</a></li>
      <li><a href="login.html"  class="c">Login</a></li>
      <li><a href="register.html"  class="c">Register</a></li>
      <li><a href="about.html"  class="c">About</a></li>
      <li><a href="contact.html"  class="c">Contact</a></li>
    </ul>
  </div>

  <div class="col-lg-3 col-md-6 col-sm-12">
    <h2>Address</h2>
    <p id="f">London, UK<br>
      998 13h Street, Office 436<br>
      Harlo 61466<br>
      +(21) 255 999 8888<br>
      fashionhub@gmail.com</p>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12">
    <ul type="none">
      <h2>Information</h2>
      <li><a class="c" href="#">Terms and Conditions</a></li>
       <li><a class="c" href="#">Shipping Policy</a></li>
       <li><a class="c" href="#">Cancellation Policy</a></li>
       <li><a class="c" href="#">Privacy Policy</a></li>
     </ul>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12">
      <h2>Payment methods</h2>
      <br>
      <i class="fa-brands fa-cc-mastercard fa-2x"></i>&nbsp;&nbsp;&nbsp;
      <i class="fa-brands fa-cc-paypal fa-2x"></i>&nbsp;&nbsp; &nbsp;
      <i class="fa-brands fa-cc-visa fa-2x"></i>&nbsp;&nbsp;&nbsp;
      <i class="fa-brands fa-cc-discover fa-2x"></i><br><br>

  </div>

  <hr>
  <center><p class="pb-1 text-light"> © 2023 Fashionhub E-Retail Pvt. Ltd. All Rights Reserved.</p>
    <div class="container" >
    <i class="fa-brands fa-facebook fa-2x"></i>&nbsp;&nbsp;&nbsp;
    <i class="fa-brands fa-twitter fa-2x"></i>&nbsp;&nbsp; &nbsp;
    <i class="fa-brands fa-instagram fa-2x"></i>&nbsp;&nbsp;&nbsp;
    <i class="fa-brands fa-linkedin fa-2x"></i><br><br>
    </div>
    </center>
</div>

</body>
</html>