<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
<style>
#b{
margin-top:50px;
margin-bottom:100px;
}
        #z{
            text-decoration: none;
        }

        .navbar{
            background-color: rgb(43, 41, 41);

        }

.x{
  text-decoration: none;
  color:red;
}
.x:hover{
  color:red;}
.c{
  text-decoration: none;
  color:white;
}
.c:hover{
    color: red;
}

.p{
    text-decoration: none;
    color:white;
}
.p:hover{
  color:red;
}
#h{
  padding-left: 80px;
}

#z{
  text-decoration: none;
  color:black;
}
#k{
            float:right;
        }

        #l{
          background-color:red;
        color:white;
        padding:25px;

      }
       .i{
        text-decoration: none;
        color:white;
      }
      .i:hover{color:white;}

    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/4f163060e5.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shopprofile</title>
</head>

<body  class="bg-light">
    <div>
               <div id="l">
              <i id="k" class="fa-solid fa-bars"  data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"></i>
          </div>

          <div class="offcanvas offcanvas-start text-white" style="background-color: red;" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                <div class="offcanvas-header">
                  <h5 id="offcanvasRightLabel">{{shopname}}</h5>
                  <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                 <ul type="none">
                  <li> <a href="http://127.0.0.1:8000/ecommerceapp/index/" class="i"><i class="fa-solid fa-house"></i>&nbsp;&nbsp;Home</a></li><br>
                   <li><a href="http://127.0.0.1:8000/ecommerceapp/shopprofile/" class="i"><i class="fa-solid fa-shop"></i>&nbsp;&nbsp;Shop</a></li><br>
                  <li><a href="http://127.0.0.1:8000/ecommerceapp/viewallproducts/" class="i"><i class="fa-brands fa-product-hunt"></i>&nbsp;&nbsp;View all products</a></li><br>
                  <li><a href="http://127.0.0.1:8000/ecommerceapp/productdisplay/" class="i"><i class="fa-brands fa-product-hunt"></i>&nbsp;&nbsp;View posted products</a></li><br>
                     <li><a href="http://127.0.0.1:8000/ecommerceapp/shopnotification/" class="i"><i class="fa-solid fa-bell"></i>&nbsp;&nbsp;Notifications</a></li><br>
                   <li><a href="http://127.0.0.1:8000/ecommerceapp/shoplogout/"class="i"><i class="fa-sharp fa-solid fa-right-from-bracket"></i>&nbsp;&nbsp;Logout</a></li><br>
                  </ul>
                </div>
              </div>
        <div>

            <center>
 <h1 class="pt-5">Welcome {{shopname}}</h1>
                <div id="b" class="container-fluid p-5">
                    <br>

                <div class="row">

                  <div class="col-lg-4 col-md-8 col-sm-12">
                  <div class="card" style="width: 20rem;">
                    <img src="{% static 'ecommerceapp/images/img64.jpeg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <a href="http://127.0.0.1:8000/ecommerceapp/fileupload/" class="btn" style="background-color:red;color:white;">upload product</a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-8 col-sm-12">
                  <div class="card" style="width: 20rem;">
                    <img src="{% static 'ecommerceapp/images/img63.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <a href="http://127.0.0.1:8000/ecommerceapp/viewallproducts/" class="btn" style="background-color:red;color:white;">view all products</a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-8 col-sm-12">
                  <div class="card" style="width:20rem;">
                    <img src="{% static 'ecommerceapp/images/img29.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <a href="http://127.0.0.1:8000/ecommerceapp/productdisplay/" class="btn" style="background-color:red;color:white;">view posted products</a>
                    </div>
                  </div>
                </div>
                </div>
                </div>
                </center>


</body>
</html>