<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
<style>
#b{
margin-top:50px;
margin-bottom:100px;
}
        #z{
            text-decoration: none;
        }

        .navbar{
            background-color: rgb(43, 41, 41);

        }

.x{
  text-decoration: none;
  color:red;
}
.x:hover{
  color:red;}
.c{
  text-decoration: none;
  color:white;
}
.c:hover{
    color: red;
}
.fa-brands{
  color: red;
}
.p{
    text-decoration: none;
    color:white;
}
.p:hover{
  color:red;
}
#h{
  padding-left: 80px;
}

#z{
  text-decoration: none;
  color:black;
}
#k{
            float:right;
        }

        #l{
          background-color:red;
        color:white;
        padding:25px;

      }
       .i{
        text-decoration: none;
        color:white;
      }
      .i:hover{color:white;}

    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/4f163060e5.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shopprofile</title>
</head>

<body  class="bg-light">
    <div><header>
      <nav class="navbar fixed-top navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand" href="http://127.0.0.1:8000/ecommerceapp/index/"><i style="color:red">Fashion</i> <i style="color:white">Hub</i></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div  id="a" class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item " >
                <a class="nav-link text-light" href="http://127.0.0.1:8000/ecommerceapp/home/">Home</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link text-light dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Login
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="http://127.0.0.1:8000/ecommerceapp/shoplogin/">Shop Login</a></li>
                  <li><a class="dropdown-item" href="http://127.0.0.1:8000/ecommerceapp/userlogin/">User Login</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link text-light dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Register
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="http://127.0.0.1:8000/ecommerceapp/shopregister/">Shop Register</a></li>
                  <li><a class="dropdown-item" href="http://127.0.0.1:8000/ecommerceapp/userregister/">User Register</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="http://127.0.0.1:8000/ecommerceapp/about/">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="http://127.0.0.1:8000/ecommerceapp/contact/">Contact</a>
              </li>
            </ul>
            <form class="d-flex">
                <a  class="nav-link text-light" href="http://127.0.0.1:8000/ecommerceapp/cartdisplay/"><i class="fa-solid fa-cart-shopping fa-1x"></i></a>&nbsp;&nbsp;
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">&nbsp;&nbsp;
            <button class="btn text-light"><i class=" fa-sharp fa-solid fa-magnifying-glass"></i></button>

            </form>
          </div>
        </div>
      </nav>
          </header>

        <br><br>
               <div id="l">
              <i id="k" class="fa-solid fa-bars"  data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"></i>
          </div>

          <div class="offcanvas offcanvas-start text-white" style="background-color: red;" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                <div class="offcanvas-header">
                  <h5 id="offcanvasRightLabel">{{shopname}}</h5>
                  <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                 <ul type="none">
                  <li> <a href="http://127.0.0.1:8000/ecommerceapp/index/" class="i"><i class="fa-solid fa-house"></i>&nbsp;&nbsp;Home</a></li><br>
                   <li><a href="http://127.0.0.1:8000/ecommerceapp/shopprofile/" class="i"><i class="fa-solid fa-user"></i>&nbsp;&nbsp;Shop</a></li><br>
                  <li><a href="http://127.0.0.1:8000/ecommerceapp/viewallproducts/" class="i"><i class="fa-solid fa-heart"></i>&nbsp;&nbsp;View all productts</a></li><br>
                  <li><a href="http://127.0.0.1:8000/ecommerceapp/productdisplay/" class="i"><i class="fa-solid fa-cart-shopping"></i>&nbsp;&nbsp;View posted products</a></li><br>
                     <li><a href="http://127.0.0.1:8000/ecommerceapp/shopnotification/" class="i"><i class="fa-solid fa-bell"></i>&nbsp;&nbsp;Notifications</a></li><br>

                  </ul>
                </div>
              </div>
        <div>

            <center>
 <h1 class="pt-5">Welcome {{shopname}}</h1>
                <div id="b" class="container-fluid p-5">
                    <br>

                <div class="row">

                  <div class="col-lg-4 col-md-8 col-sm-12">
                  <div class="card" style="width: 20rem;">
                    <img src="{% static 'ecommerceapp/images/img64.jpeg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <a href="http://127.0.0.1:8000/ecommerceapp/fileupload/" class="btn" style="background-color:red;color:white;">upload product</a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-8 col-sm-12">
                  <div class="card" style="width: 20rem;">
                    <img src="{% static 'ecommerceapp/images/img63.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <a href="http://127.0.0.1:8000/ecommerceapp/viewallproducts/" class="btn" style="background-color:red;color:white;">view all products</a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-8 col-sm-12">
                  <div class="card" style="width:20rem;">
                    <img src="{% static 'ecommerceapp/images/img29.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <a href="http://127.0.0.1:8000/ecommerceapp/productdisplay/" class="btn" style="background-color:red;color:white;">view posted products</a>
                    </div>
                  </div>
                </div>
                </div>
                </div>
                </center>

    <div class="row"  style="background-color: rgb(43, 41, 41);color:white;" >
  <div class="col-lg-3 col-md-6 col-sm-12" id="h">
    <h2>Useful links</h2>
    <ul type="none">
      <li><a href="home.html"  class="p">Home</a></li>
      <li><a href="login.html"  class="p">Login</a></li>
      <li><a href="register.html"  class="p">Register</a></li>
      <li><a href="about.html"  class="p">About</a></li>
      <li><a href="contact.html"  class="p">Contact</a></li>
    </ul>
  </div>

  <div class="col-lg-3 col-md-6 col-sm-12">
    <h2>Address</h2>
    <p id="f">London, UK<br>
      998 13h Street, Office 436<br>
      Harlo 61466<br>
      +(21) 255 999 8888<br>
      fashionhub@gmail.com</p>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12">
    <ul type="none">
      <h2>Information</h2>
      <li><a class="c" href="#">Terms and Conditions</a></li>
       <li><a class="c" href="#">Shipping Policy</a></li>
       <li><a class="c" href="#">Cancellation Policy</a></li>
       <li><a class="c" href="#">Privacy Policy</a></li>
     </ul>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12">
      <h2>Payment methods</h2>
      <br>
      <i class="fa-brands fa-cc-mastercard fa-2x"></i>&nbsp;&nbsp;&nbsp;
      <i class="fa-brands fa-cc-paypal fa-2x"></i>&nbsp;&nbsp; &nbsp;
      <i class="fa-brands fa-cc-visa fa-2x"></i>&nbsp;&nbsp;&nbsp;
      <i class="fa-brands fa-cc-discover fa-2x"></i><br><br>

  </div>

  <hr>
  <center><p class="pb-1 text-light"> © 2023 Fashionhub E-Retail Pvt. Ltd. All Rights Reserved.</p>
    <div class="container" >
    <i class="fa-brands fa-facebook fa-2x"></i>&nbsp;&nbsp;&nbsp;
    <i class="fa-brands fa-twitter fa-2x"></i>&nbsp;&nbsp; &nbsp;
    <i class="fa-brands fa-instagram fa-2x"></i>&nbsp;&nbsp;&nbsp;
    <i class="fa-brands fa-linkedin fa-2x"></i><br><br>
    </div>
    </center>
</div>

</body>
</html>